<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>console.say</title>
  </head>
  <body>
    <div class="container">
      <div class="heroboard">
        <h1>Welcome !</h1>
        <p>All the magic is in the console</p>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/console.say/client.js"></script>
  </body>
</html>
